.gradle
.settings
/.idea/
/.vscode/
/run/
/out/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/copilot/
/buildSrc/build/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
src/main/resources/mixins.*([!.]).json
*.bat
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
out
run
src/main/resources/assets/customnpcs/api
df/
tmp/
src/test
!src/test/
!src/test/java/
!src/test/java/noppes/
!src/test/java/noppes/npcs/
!src/test/java/noppes/npcs/client/
!src/test/java/noppes/npcs/client/UnicodeLineWrapperTest.java
node_modules
.github/pages-dist

